.dashboard-routes li a {
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 8px 8px;
  font-weight: 500;
}

.dashboard-routes > li > a {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 600px) {
  .dashboard-routes li a {
    padding: 8px 1px;
  }
}
